/* universal */
html,
body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  hyphens: none;
  background-image: url("../../resources/images/background.png");
}

.box {
  width: 100%;
  padding: 20px 40px;
  margin: 0 auto;
  box-sizing: border-box;
}

h1 {
  font-family : "Titan One", sans-serif;
  font-size : 4rem;
  line-height : 1;
  color : rgb(156, 19, 54);
}

h2 {
  font-family: "Titan One", sans-serif;
  color : rgb(156, 19, 54);
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-family: "Sigmar One", sans-serif;
  color : rgb(156, 19, 54);
  font-size: 1.5rem;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: inherit;
  cursor: crosshair;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

/* header */
header.box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  /*background-color: rgb(255, 255, 255);*/
  background-image: url("../../resources/images/background.png");
  z-index: 5
}

.logo {
  display: inline-block;
}

.logo-tablet {
  display: none;
}

.logo img {
  width: 400px;
}

.logo-tablet img {
  width: 800px;
  margin: 22px 0;
}

header .button {
  display: inline-block;
}

.button-tablet {
  display: none;
}

.btn-portfolio,
.btn-about-cv,
.btn-contact,
.btn-portfolio-tablet,
.btn-about-cv-tablet,
.btn-contact-tablet,
.language {
  padding: 7px 10px;
  margin: 0 8px;
  font-family: "Sigmar One", sans-serif;
  color: white;
  font-size: 1.1rem;
  display: inline-flex;
  align-items: center;
}

.btn-portfolio,
.btn-portfolio-tablet {
  background-image: url("../../resources/images/btn-portfolio.png");
  background-size: cover;
}

.btn-portfolio:hover {
  color: rgb(156, 19, 54);
  background-image: url();
  cursor: crosshair;
}

.btn-about-cv,
.btn-about-cv-tablet {
  background-image: url("../../resources/images/btn-about-cv.png");
  background-size: cover;
}

.btn-about-cv:hover {
  color: rgb(156, 19, 54);
  background-image: url();
}

.btn-contact,
.btn-contact-tablet {
  background-image: url("../../resources/images/btn-contact.png");
  background-size: cover;
}

.btn-contact:hover {
  color: rgb(156, 19, 54);
  background-image: url();
  cursor: crosshair;
}

.language {
  color: rgb(156, 19, 54);
  /*display: none;*/
}

.mandarin {
  color: rgba(128, 128, 128, 1);
}

.english:hover {
  color: rgb(156, 19, 54);
  cursor: crosshair;
}

.mandarin:hover {
  color: rgb(156, 19, 54);
  cursor: crosshair;
}

@media only screen and (max-width: 1030px) {
  body {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  header.box {
    flex-direction: column;
  }

  .logo {
    display: none;
  }

  .logo-tablet {
    display: inline-block;
  }

  .button-desktop {
    display: none;
  }

  .button-tablet {
    display: inline-block;
  }

  .btn-portfolio-tablet,
  .btn-about-cv-tablet,
  .btn-contact-tablet,
  .language {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 480px) {
  body {
    font-size: 1rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3 {
    font-size: 1rem;
  }
}

/* pop-up */
.introduction {
  width: 820px;
  position: fixed;
  top: 150px;
  left: 40px;
  padding: 20px;
  z-index: 7;
  display: none;
  /*background-color: rgba(255, 255, 255, 0.8);*/
  background-image: url("../../resources/images/background-transparent.png");
}

.email {
  position: fixed;
  top: 100px;
  right: 40px;
  padding: 20px;
  padding-top: 5px;
  z-index: 6;
  display: none;
  /*background-color: rgb(255, 255, 255, 0.9);*/
  background-image: url("../../resources/images/background-transparent.png");
}

.email-tablet {
  display: none;
  position: fixed;
  top: 205px;
  width: 100%;
  text-align: center;
  background-color: rgba(156, 19, 54, 1);
  padding: 20px 0;
  z-index: 9;
}

.email-tablet h1 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.drop-menu {
  background-image: url("../../resources/images/drop-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 20px 20px 20px;
  position: fixed;
  top: 65px;
  left: 49.6%;
  z-index: 7;
  font-family : "Sigmar One";
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  width: 280px;
  display: none;
}

.drop-menu li {
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.drop-menu li:hover {
  margin-left: -10px;
  cursor: crosshair;
}

@media only screen and (min-width: 481px) and (max-width: 1030px) {
  h1 {
    font-size: 55px;
    line-height: 1.01;
  }

  .introduction {
    top: 215px;
    width: 90%;
  }

  .email {
    top: 160px;
  }

  .drop-menu {
    top: 170px;
    left: 15%;
  }
}

/* content */
.content {
  position: relative;
  top: 79px;
  max-width: 1280px;
  min-height: 600px;
  margin: 0 auto;
  padding: 40px 0 80px 0;
  min-width: 610px;
}

.content a {
  text-decoration: underline;
}

.intro {
  width: 60%;
  margin: 30px auto;
}

.quote {
  font-family : "Titan One", sans-serif;
  font-size: 1rem;
  width: 50%;
  margin: 30px auto;
  padding: 0 10px;
  border-left: 6px solid rgb(156, 19, 54);
}

.cv {
  width: 85%;
  margin: 60px auto;
}

.cv ul {
  margin-bottom: 40px;
}

.cv li {
  margin-top: 20px;
}

.sub {
  margin-left: 50px;
  color: rgba(128, 128, 128, 1);
}

@media only screen and (min-width: 481px) and (max-width: 1030px) {
  .content {
    top: 181px;
    min-height: 1470px;
    padding-bottom: 110px;
  }

  .intro {
    width: 80%;
  }

  .quote {
    font-size: 1rem;
    width: 60%;
  }

}

@media only screen and (max-width: 480px) {
  .quote {
    font-size: 1rem;
    width: 80%;
  }
}

/* footer */

footer {
  position: relative;
  display: flex;
  align-items: flex-end;
  top: 79px;
  height: 301px;
  color : rgba(255, 255, 255, 0.9);
  background-image: url("../../resources/images/footer.png");
  background-size: cover;
  background-position: right;
  font-family : "Sigmar One", sans-serif;
  font-size: 0.8rem;
}

@media only screen and (min-width: 481px) and (max-width: 1030px) {
  footer {
    background-image: url("../../resources/images/footer-s.png");
    background-position: center;
    height: 200px;
    font-size: 0.8rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 480px) {
  footer {
    font-size: 0.8rem;
  }
}

/* portfolio.html */
.projects.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.projects a {
  text-decoration: none;
}

.project {
  height: 250px;
  width: 250px;
  margin: 10px;
  box-sizing: border-box;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project .name {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: rgba(156, 19, 54, 0.8);
  text-align: center;
  opacity: 0;
}

.project .name:hover {
  opacity: 1;
}

.project .name h3 {
  color: rgb(255, 255, 255);
  margin: 0;
}

.project img {
  width: 100%;
  height: 100%;
}

.container-fluid {
  width: 85%;
  margin-bottom: 100px;
}

.project.one {
  background-image: url("../../resources/images/mastbos.png");
}

.project.two {
  background-image: url("../../resources/images/creatures.png");
}

.project.three {
  background-image: url("../../resources/images/aria-sicura.png");
}

.project.four {
  background-image: url("../../resources/images/watercolour-palette.png");
}

.project.five {
  background-image: url("../../resources/images/portfolio-website.png");
}

.project.six {
  background-color: rgba(156, 19, 54, 1);;
}

.project.blank {
  height: 100px;
}

@media only screen and (max-width: 1030px) {
  .projects.content {
    margin-top: 30px;
  }

  .project {
    width: 350px;
    height: 350px;
    margin: 10px;
  }

  .project .name {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.7);
    height: auto;
  }

  .project .name h3 {
    color: rgb(156, 19, 54);
    font-size: 1.8rem;
  }
}

/* portfolio pages */
.image-box {
  margin-bottom: 40px;
  text-align: center;
}

.image-box-overflow {
  margin-bottom: 40px;
  text-align: center;
  overflow: scroll;
}

img.large {
  width: 100%;
}

img.small {
  width: 60%;
  margin: 0 auto;
}

.text-box p {
  margin-bottom: 20px;
}

.text-box {
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}

.caption p {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.gallery img {
  width: 99%;
}

@media only screen and (max-width: 1030px) {
  .text-box {
    width: 80%;
  }

  img.small {
    width: 100%;
  }
}
